


.holder>div{
	flex: 0 0 calc(30% - 10px);
      margin-bottom: 10px;
	background-color: blue;
	width: 100px;
	height: 100px;
}
.holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}