
/* Your CSS Code here. */
#holder>div{
	width: 100px;
	height: 100px;
	background-color: blue;
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
}
#holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}